*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
/* Ubicación de la imagen */

background-image: url(../images/users/ImagenCarcelLogin.jpg);

/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;
display: flex;
min-height: 100vh;


}


form{
  margin:auto;
  width: 50%;
  max-width: 410px;
  background: #f3f3f3;
  padding: 30px;
  border: 1px solid rbga(0,0,0,0.2);
  border-style:ridge;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    margin-left: -50px;
    color: #1b2263;

}
/******** div de error ******/
.error{
    background-color: #E74F4F;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}﻿

input{
  display: block;
  padding: 10px;
  margin: 30px 0 ;
  font-size: 20px

}

input[type="submit"]{
  background: linear-gradient(to top, #4CA1AF, #2C3E50);
  border: 0;
  color: beige;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 0;


}
input[type="submit"]:hover{
  opacity: 1.0;
}
input[type="submit"]:active{
  transform: scale(0.95);
}
@media (max-width:768px){
  form{
    width:100%;
  }
  h2{
    width: 100%;
  }
  input{
    width: 100%;
  }

  @media (max-width:480px){
    form{
      width:100%;
    }
    h2{
      width: 99%;
    }
    input{
      width: 100%;
    }
}
